.footer_wrapper {
  width: 100%;
  height: 300px;
  z-index: 1;
  position: relative;

  background: radial-gradient(circle at center, #002671 0%, #000f2c 100%);

  .footer_container {
    max-width: 1440px;
    width: 100%;
    padding-inline: 3rem;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media all and (max-width: 768px) {
      flex-direction: column;
      gap: 1rem;
    }
    .footer_left {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      a {
        margin-top: -20px;
        color: #3ac0e2;
        font-size: 15px;
      }
      .footer_logo {
        width: 240px;
        margin-top: -40px;
        img {
          width: 100%;
        }
      }
    }
    .sns {
      display: flex;
      align-items: center;
      gap: 2rem;
      li {
        width: 55px;
        height: 55px;
        border-radius: 50px;
        background-color: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(12px);
        a {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          img {
            width: 50%;
          }
        }
      }
    }
  }
}

@media all and (max-width: 768px) {
  .footer_wrapper {
    height: auto;

    .footer_container {
      padding: 1rem;

      .footer_left {
        .footer_logo {
          width: 200px;
          margin-top: -20px;
          img {
            width: 100%;
          }
        }
      }
      .sns {
        display: flex;
        align-items: center;
        gap: 2rem;
        li {
          width: 2rem;
          height: 2rem;
          border-radius: 50px;
          background-color: rgba(255, 255, 255, 0.15);
          backdrop-filter: blur(12px);
          a {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
              width: 50%;
            }
          }
        }
      }
    }
  }
}
