* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Pretendard", -apple-system, BlinkMacSystemFont, system-ui,
    Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    sans-serif;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}

img {
  width: 100%;
  display: block;
}

.wrap {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

:root {
  --font-pretendard: "Pretendard", -apple-system, BlinkMacSystemFont, system-ui,
    Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    sans-serif;
  --font-popins: "Poppins", sans-serif;
  --font-dm-sans: "DM Sans", sans-serif;
  --primary: #00c3ff;
  --white: #fff;
  --blue: #0055ff;
}

section {
  width: 100%;
  height: 100dvh;
}
button {
  font-family: inherit;
}
